.swiper-button-prev { 
    margin-left: 2%;
    color: #fff;
    transition: .3s all;
}

.swiper-button-next{
    margin-right: 2%;
    color: #fff;
    transition: .3s all;
}

.swiper-button-prev:active,
.swiper-button-next:active{ 
    color: #ea1538; 
    transform: scale(0.5);
}

.swiper-button-prev:hover,
.swiper-button-next:hover{ 
    color: #ea1538; 
}

.swiper-pagination{
    padding-bottom: 3%;
}

.swiper-pagination-bullet{
    background-color: rgb(255, 255, 255);
    opacity: .6;
}
.swiper-pagination-bullet-active {
    background-color: #ea1538;
    opacity: 1;
    transform: scale(1.4);
}

