@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&family=Titillium+Web:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moulpali&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  position: fixed;
  height: 90px;
  top: 0;
  left: 0;
  transition: .5s ease-in;
  z-index: 1000;
  width: 100%;
  overflow: hidden;
  background: transparent;
  background-color: rgba(20, 20, 20, 0.4);
  border-bottom: rgba(82, 81, 81, 0.3) 2px solid;
}

.header-bg{
  background: rgba(83, 83, 83, 0.15);
  backdrop-filter: blur(8.5px);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-left: 10%;
  padding-right: 10%;
}

.logo{
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;  
  background: linear-gradient(to right, #ea1538, #ea1538 50%, #fff 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.logo:hover{
  background-position: 0 100%;
}

.nav-link{
  list-style-type: none;
  display: inline-block;
  padding: 10px 30px;
}
.nav-link {
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(
      to right,
      rgb(220, 56, 56),
      rgb(220, 56, 56) 50%,
      #fff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  margin: 0 2rem;
  font-weight: 700;
  font-size: 20px;
  padding: 3px 0;
  padding-top: 0.4rem;
  position: relative;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-link:before{
  content: '';
  background: rgb(220, 56, 56);
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  background-position: 0;
}

.nav-link:hover::before{
  width: 100%;
}

.login-btn{
  border: none;
  background: #ea1538;
  padding: 12px 40px;
  color: white;
  font-family: 'Raleway', sans-serif;
  border-radius: 30px;
  font-weight: 700;
  font-size: 15px;
  transition: .5s;
  text-decoration: none;
}

.login-btn:hover{
  transform: scale(1.2);
  cursor: pointer;
}
