@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap'); 

.detail-page{
    background-color: #212121;
    width: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.trailer-container{
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.video-title{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #fff;
    padding: 5rem 0 2rem 0;
}