@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap'); 

.carousel {
    cursor: grab;
    overflow: hidden;
}

.inner-carousel{
    display: flex;
}

.item{
    min-height: 10rem;
    min-width: 18rem;
    padding: 40px;
}

.slider-title{
    padding-left: 3rem;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: text;
}